<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
</head>

<body bgcolor="#99CC66">
    <font size="6" color="#6666CC" face="Arial">
        <b>
            <img src="img/CollectionsNav.png" style="max-width: 100%";>
            <hr>
            Library task:
            <img src="img/CollectionsLibrary.png" style="max-width: 100%";>
            <hr>
            Market task:
            <img src="img/CollectionsMarket.png" style="max-width: 100%";>
        </b>
    </font>
</body>
</html>